@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

span {
  font-size: 1.2rem;
  line-height: 1.45;
  color: #727272;
}

h6 {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

/* ! ========== HEADER START =========*/

header {
  margin: 20px;
  background-color: #171c8f;
  height: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
}

.first__photo {
  height: 685px;
}

.header__left {
  margin: 50px 10px;
  padding: 30px;
}

.left__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__block > span {
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 79px;
  color: #8e9fb7;
}

.header__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 20px;
}

.header__right > h1 {
  /*height: 253px;*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 53px;
  line-height: 84px;
  letter-spacing: 7.65px;
  text-transform: uppercase;
  color: #d7b9e4;
}

.header__right > h2 {
  margin: 30px 0;
}

.header__right > p {
  margin: 15px 0;
  /*height: 112px;*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 37px;
  /* or 177% */

  letter-spacing: 0.24px;

  color: #ffffff;
}

.header__right img {
  width: 150px;
  height: 150px;
  line-height: 31px;
  letter-spacing: 0.03px;
  color: #2f3d55;
}

/* ! ========== HEADER FINISH =========*/

/* ! ========== CONTENT-1 START =========*/

.content_1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content_1__left {
  width: 40%;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.content_1__left > span {
  line-height: 1.45;
  text-transform: uppercase;
  color: #727272;
}

.content_1__left > h6 {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

.content_1__right {
  width: 60%;
  background: #fcfcfc;
  padding: 20px;
}

.content_1__right > p {
  font-size: 1.2rem;
  margin-bottom: 1.375rem;
  color: #939393;
  line-height: 1.75;
}
/* ! ========== CONTENT-1 FINISH =========*/
/* ! ========== CONTENT-2 START =========*/

.content_2 > h2 {
  margin: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #939393;
}

.carousel-item > img {
  height: 500px;
}

/* ! ========== CONTENT-2 FINISH =========*/

/* SECTION INFO START */
.section-info {
  width: 100%;
  height: 763px;
  background: #fff4f0;
}

#btn-pink {
  height: 50px;
  background: #e16ba9;
  border-radius: 50px;
  border: none;
  width: 30%;
  color: white;
}
#line {
  width: 100%;
}
#info-pic {
  width: 30%;
  margin-top: 3%;
}
/* SECTION INFO FINISH */


/* ! ======CONTENT TEST START ============*/

.content_2T > h2 {
  margin: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #000000;
  font-family: "Roboto";
  height: 71px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 5.119999885559082px;
  text-align: center;
  height: 71px;
  left: 12.12%;
  right: 16%;
  top: -3.77px;
}

.content_2T > p {
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.20999999344348907px;
  text-align: center;
  height: 33px;
  left: 10.38%;
  right: 10.38%;
  top: 89.23px;
}

.content_2T > h3 {
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.4000000953674316px;
  text-align: center;
  height: 25px;
  left: 43.62%;
  right: 43.5%;
  top: 152.23px;
}

.carousel-item > img {
  height: 800px;
}

/* ! ======CONTENT TEST FINISH ===========*/


/* ! ========== CONTENT-3 START =========*/

.content_3__down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.content_3__top {
  /*background: #f8f8f8;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.content_3__top > span {
  line-height: 1.45;
  text-transform: uppercase;
  color: #727272;
}

.content_3__top > h6 {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

.work__table__top {
  background: #fff;
  /*margin-top: 30px;*/
  display: flex;
  flex-direction: row;
  column-gap: 120px;
  /*justify-content: space-around;*/
  /*align-items: center;*/
}

.work__table__top > h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  align-items: center;
}

.work__table__group > h3 {
  color: #f8bb10;
}

.work__table__top > p {
  width: 306px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: #4e5a65;
}

/* ! ========== CONTENT-3 FINISH =========*/

/* ! ========== CONTENT-4 START =========*/

.content_4 {
  display: flex;
  width: 100%;
}

.content_4__right {
  align-items: center;
  width: 60%;
  background: #fcfcfc;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__block__text {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.info__block__text > p:first-child {
  font-family: "Inter";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #157698;
  padding-right: 5px;
}

.info__block__text > p:last-child {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

.content_4__right__info__block > img {
  margin-bottom: 10px;
}

/* ! ========== CONTENT-4 FINISH =========*/

/* ! ========== CONTENT-5 START =========*/

.content_5 {
  display: flex;
  width: 100%;
}

.content_5__left {
  width: 40%;
  background: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.content_5__left > span {
  line-height: 1.45;
  text-transform: uppercase;
  color: #727272;
}

.content_5__left > h6 {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

.content_5__right {
  width: 60%;
}

/* ! ========== CONTENT-5 FINISH =========*/

/* ! ========== CONTENT-6 START =========*/

.content_6 {
  width: 100%;
  display: flex;
}
.content_6__right {
  width: 60%;
  display: flex;
  background: #fcfcfc;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content_6__right__svg_top {
  display: flex;
  column-gap: 60px;
}

.content_6__right__svg_down {
  display: flex;
  column-gap: 45px;
}

/* ! ========== CONTENT-6 FINISH =========*/




/* BAEL_BRANCH GALLERY START*/
.b_b_gallery_section_main {
  max-width: 100%;
  display: flex;
  margin-top: 10%;
}
.b_b_gallery_section_inside {
  width: 100%;
  display: flex;
  justify-content: center;
}

.b_b_part_1 {
  width: 40%;
  margin-left: 10%;
}
.b_b_part_2 {
  width: 40%;
  margin-left: 10%;
}
.b_b_main_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 84px;
  letter-spacing: 7.65px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25%;
}

.b_b_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25%;
  margin-top: 10%;
  letter-spacing: 4.8px;
  text-transform: uppercase;

  color: #000000;
}


/* BAEL_BRANCH gallery finish */



@media all and (max-width: 1024px) {
  .section-info {
    height: 860px;
  }
  .section-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
  }
  .section-info-right br {
    display: none;
  }
  #info-pic {
    width: 50%;
  }

}

.b_b_part_1 {
  width: 45%;
  margin-left: 10%;
}
.b_b_part_2 {
  width: 45%;
}
.b_b_main_txt {
  font-size: 30px;
}

.b_b_txt {
  font-size: 17px;
}

.b_b_photo {
  width: 80%;
}


.footer__right {
  padding: 15px;
  background: #f8f8f8;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.footer__right__info {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.info__text > a {
  display: flex;
  text-decoration: none;
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
  cursor: pointer;
}

.info__text > h6 {
  color: #939393;
  line-height: 1.75;
  font-size: 1rem;
}

.footer__right__down {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.right__down__text {
  text-transform: lowercase;
  font-family: "Lato";
  font-weight: 300;
  color: #939393;
  padding: 20px;
}

.right__down__text > h2:last-child {
  color: #f8bb10;
  font-weight: 700;
  line-height: 2px;
  font-size: 62px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 5px;
}

.right__down__link {
  display: flex;
}

@media all and (max-width: 768px) {
  .b_b_main_txt {
    font-size: 25px;
  }

  .b_b_txt {
    font-size: 15px;
  }

  .b_b_photo {
    width: 75%;
  }
}


@media all and (max-width: 425px) {
  .header__right {
    display: none;
  }

  .content_5__left > h6 {
    display: none;
  }

  .work__table__top {
    flex-wrap: wrap;
  }

  .b_b_main_txt {
    font-size: 26px;
  }

  .b_b_txt {
    font-size: 19px;
  }
  .b_b_photo {
    width: 140%;
  }

  .b_b_gallery_section_inside {
    display: block;
  }

  .content_4 {
    flex-direction: column;
  }

  .content_1__left {
    width: 100%;
  }

  .content_4__right {
    width: 100%;
  }


  .carousel-item > img {
    width: 100%;
    height: 300px;
  }

  .content_6 {
    flex-direction: column;
  }

  .right__down__text {
    padding: 40px;
  }

  .content_1 {
    flex-direction: column;
  }

  .content_1__right {
    width: 100%;
  }

  .content_6__right__svg_down {
    display: none;
  }

  .content_6__right {
    width: 100%;
  }

  .content_6__right__svg_top {
    flex-direction: column;
    row-gap: 20px;
  }

  /*todo адаптив секции инфо */
  .section-info {
    height: 650px;
  }

  .section-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-info-right br {
    display: none;
  }

  #info-pic {
    width: 80%;
  }
}
.container__footer {
  max-width: 1170px;
  margin: auto;
}
.row__footer {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #477a7b;
  padding: 70px 0;
}
.footer-col {
  box-sizing: border-box;
  width: 25%;
  padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer-col ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .address p {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.19px;
  color: #ffffff;
}


@media all and (max-width: 1024px){
  .header{
    flex-direction: column
  }
  .header__right {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header__right > h1{
    letter-spacing: 0;
  }
}

  @media all and (max-width: 768px) {
    .first__photo {
      width: 100%
    }
    .header__right {
      display: none;
    }
    .content_5__left > h6 {
      display: none;
    }
    .footer-col {
      /*width: 50%;*/
      margin-bottom: 30px;
      flex-wrap: nowrap;
      text-align: center;
    }
  }
  @media all and (max-width: 425px) {
    .first__photo {
      width: 100%;
      height: 100%;
    }
    .card-body > h5,.card-body >  p{
      display: none;
    }

    .card-body > img{
      width: 100px;
    }

    .header__right {
      display: none;
    }

    .content_5__left > h6 {
      display: none;
    }

    .work__table__top {
      flex-wrap: wrap;
    }

    .content_4 {
      flex-direction: column;
    }

    .content_1__left {
      width: 100%;
    }

    .content_4__right {
      width: 100%;
    }

    .carousel-item > img {
      width: 100%;
      height: 300px;
    }

    .content_6 {
      flex-direction: column;
    }

    .footer-col ul{
      padding-left: 10px;
    }

    .footer-col {
      width: 100%;
      flex-wrap: nowrap;
      text-align: center;
    }
    .row__footer{
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .right__down__text {
      padding: 40px;
    }

    .content_1 {
      flex-direction: column;
    }

    .content_1__right {
      width: 100%;
    }

    .content_6__right__svg_down {
      display: none;
    }

    .content_6__right {
      width: 100%;
    }

    .content_6__right__svg_top {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  @media all and (max-width: 375px) {
    .header__left {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .b_b_main_txt {
      font-size: 23px;
    }

    .b_b_txt {
      font-size: 15px;
    }
    .b_b_photo {
      width: 140%;
    }

    .content_6__right__svg_down {
      display: none;
    }

    .content_6__right {
      width: 100%;
    }

    .content_6__right__svg_top {
      flex-direction: column;
      row-gap: 20px;
    }
  }
@media all and (max-width: 331px) {
  .b_b_main_txt {
    font-size: 20px;
  }

  .b_b_txt {
    font-size: 12px;
  }
  .b_b_photo {
    width: 140%;
  }
}


